.no-resize {
    resize: none;
}

/***UTILS***/
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/***---PALETTE---***/
.bg-aquagreen {
    background-color: #009c7d;
}

/*---STYLISH ELEMENTS---*/
.star-line {
    height: 5px;
    width: 15vw;
}


/***---HEADER---***/
header {
    background-color: #2C3E50;
}

header i {
    border: 1px solid #fff;
    border-radius: 5px;
    color: var(--bs-gray);
}

header i:hover {
    color: var(--bs-white);
}


/***---JUMBOTRON---***/
.jumbotron img {
    height: 300px;
}

.jumbotron h2 {
    font-size: 40px;
    font-weight: 600;
}

/***---SECTION - PORTFOLIO---***/
section:nth-child(1) .star-line {
    background-color: #2C3E50;
}

section:nth-child(1) .bi-star-fill {
    color: #2C3E50;
}

/***SECTION - CONTACT***/
section:nth-child(3) .star-line {
    background-color: #2C3E50;
}

section:nth-child(3) .bi-star-fill {
    color: #2C3E50;
}

/***FOOTER***/
.bg-footer {
    background-color: #3A546D;
}

.text-hemerald {
    color: rgb(0, 255, 68);
}

.footer-bottom {
    background-color: #2C3E50;
}